<!-- wp:template-part {"slug":"header","theme":"aluteco","area":"header"} /-->

<!-- wp:group {"tagName":"main","anchor":"main","className":"site-main single-news","layout":{"type":"default"}} -->
<main id="main" class="wp-block-group site-main single-news">
	<!-- wp:group {"className":"shell","layout":{"type":"default"}} -->
	<div class="wp-block-group shell">
		<!-- wp:query-title {"type":"archive","showPrefix":false,"className":"archive-heading"} /-->
		<!-- wp:term-description /-->
		<!-- wp:pattern {"slug":"aluteco/news-query"} /-->
	</div>
	<!-- /wp:group -->
</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","theme":"aluteco","area":"footer"} /-->
