<!-- wp:template-part {"slug":"header","theme":"aluteco","area":"header"} /-->

<!-- wp:group {"tagName":"main","anchor":"main","className":"site-main shell single-news","layout":{"type":"constrained"}} -->
<main id="main" class="wp-block-group site-main shell single-news">
	<!-- wp:query-title {"type":"archive","showPrefix":false,"className":"archive-heading"} /-->
	<!-- wp:pattern {"slug":"aluteco/news-query"} /-->
</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","theme":"aluteco","area":"footer"} /-->
